legend {
  padding-bottom: 10px;
  font-size: 24px;
}

.list-group-item {
  font-size: 18px;
}

.list-group-item label {
  font-size: 14px;
}

input[type='checkbox'] {
  margin-right: 15px;
}

#projects {
  margin-bottom: 60px;
}

.progress {
  margin-top: 15px;
}
